/* Style the tab content */
.tabcontent {
	float: left;
	padding: 10px 20px;
	border: 2px solid #0080FF;
	border-radius: 25px;
	width: 70%;
	margin-top: 2%;
	margin-left: 25%;
	height: 80%;
	color: white;
	overflow: auto;
}

	.tabcontent::-webkit-scrollbar {
		display: none;
	}

/* replace content with icon when screen size changes*/
@media screen and (max-width: 600px) {
}

/*right content zone*/
.content {
	float: right;
	width: 100%;
	position: fixed;
	border: none;
	margin: 0;
	height: 100%;
	color: transparent;
	overflow: hidden;
}

/* collapsibles */
.collapsible {
	background-image: linear-gradient(to right,#004167,#062a4c,#010d1d);
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}

	.collapsible.active, .collapsible:hover {
		background-color: #00668b;
	}

	.collapsible:after {
		content: '\002B'; /* unicode chara for "plus" sign(+) */
		color: white;
		font-weight: bold;
		float: right;
		margin-left: 5px;
	}

	.collapsible.active:after {
		content: "\2212"; /* Unicode character for "minus" sign (-) */
	}

.daybreak {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: inherit;
}
